* {
   font-family: "Courier New", Courier, monospace;
   background-color: rgb(235, 181, 82);
   text-align: right;
   justify-content: right;
   color: #41657c;
   background-color: #e2f2f5;
   display: none;
}
